# Ignore all folders
*/
# But allow these directories to be traversed
!project_po/
!project_po/scripts/
# Allow specific types of files
!*.py
!*.ipynb
!*.json
!*.yml
!*.yaml
!*.txt

# Ignore common garbage
__pycache__/
*.log
*.tmp

*.h5
*.csv

# Ignore all large binary/data files
*.dem.wgs84
*.tif
*.nc
*.mat
*.h5
*.SAFE
*.zip
*.tar
